{% extends 'base.html' %}
{% block content %}

<head> 
	<link rel="stylesheet" type="text/css" href="/static/styles.css"> 
	
</head>

<div class='col-md-4'>
	<h1 id='welcome'> 
		<!-- <center><p class="lead"><h1>COLUMBIA LIONBOT</h1></p> -->
	</h1>


<div class="bs-docs-header" cid="content" tabindex="-1"> 
	<div class="container"> 
		<!-- <div id="carbonads-container"><div class="carbonad"><div id="azcarbon">
			
		</div><script>var z=document.createElement("script");z.async=!0,z.src="http://engine.carbonads.com/z/32341/azcarbon_2_1_0_HORIZ";var s=document.getElementsByTagName("script")[0];s.parentNode.insertBefore(z,s)</script></div></div> </div> </div> -->

<div class="container">

      <!-- Main component for a primary marketing message or call to action -->
      <div class="jumbotron">
        <h1>Columbia Lionbot</h1>
        <p>Join. Message. Party.</p>
        <p> <a href="login" class="btn btn-lg btn-primary">Login</a>
        </p>
      </div>

    </div>

	</center>

{% endblock %}