{% extends 'base.html' %}

{% block content %}


<div class="form-group">
	<div class="col-xs-4">
		<center>
	<h1> Login </h1>
	<br>
	<p><label for="email"> Club Email:  </label>
	<input type="text" class="form-control" name="email"> </p>
	<br>
	<p><label for="password"> Password:  </label>
	<input type="password" class="form-control" name="password"></p>
	<br>
		

	<button type="button" class="btn btn-success">Submit</button>	
	<!-- <input type="submit" name="submit"> -->
	</div>
</div>

{% endblock %}
