{% extends 'base.html' %}

{% block content %}


<div class="form-group">
	<div class="col-xs-4">
		<center>
	<h1> Login </h1>
	<br>
	<p><label for="username"> Club Username:  </label>
	<input type="text" class="css-class" name="username" value="" id="username"/> </p>
	<br>
	<p><label for="password"> Password:  </label>
	<input type="password" id="password" name="password" value="" /></p>
	<br>
		

	<form method="POST" action='/login'>
		<div>{{ form.username.label }}: {{ form.username(class='css_class')}}</div>
		<div>{{ form.password.label }}: {{ form.password()}}</div>
	</form>

	{% if current_user.is_authenticated %}
		Hi {{current_user.name}}
	{% endif %}


<!--     <div class="col-md-4">
    	{{ wtf.quick_form(form) }}
    	<br>
    <p>Don't have an account? Sign up <a href="{{ url_for('auth.register') }}">here</a></p>
	</div>
    <div class="col-md-1"> -->


	<button type="button" class="btn btn-success">Submit</button>	
	<!-- <input type="submit" name="submit"> -->
	</div>
</div>

<!-- retrieve form with python flask  -->

{% endblock %}
